{% load static %}

<!DOCTYPE html>
<html>
<head>
    
    <title>Generate Prompt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'prompt_app/styles.css' %}">
</head>
<body>
    <h2>Automatic Prompt Generation</h2>
    <form method="post" action="{% url 'generate' %}">
        {% csrf_token %}
        <label for="input_text">Enter your text:</label><br>
        <textarea id="input_text" name="input_text" cols="40" rows="5" placeholder="Enter your text here"></textarea><br>

        <label for="length_of_line">Text Length:</label><br>
        <input type="number" id="length_of_line" name="length_of_line" min="1" placeholder="Enter text length"><br>

        <input type="submit" value="Generate Prompt">
    </form>
</body>
</html>
